<form class="example-form" [formGroup]="formGrup">
    <table>


      <td>
        <mat-form-field style = "margin-left: 1rem;" class="example-full-width" appearance="fill">
        <mat-label>Bağış ID</mat-label>
        <input formControlName="bagis_id" matInput>
      </mat-form-field></td>
    <td>

      <td>
        <mat-form-field style = "margin-left: 1rem;" class="example-full-width" appearance="fill">
        <mat-label>Bağışçı</mat-label>
        <input formControlName="bagisci_id" matInput>
      </mat-form-field></td>
    <td>
      <mat-form-field style = "margin-left: 1rem;" class="example-full-width" appearance="fill">
      <mat-label>Bağış Miktarı</mat-label>
      <input formControlName="miktar" matInput>
    </mat-form-field></td>
  </table>
  
    <table class="example-full-width" cellspacing="0">
      <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Bağış Tarihi</mat-label>
        <input type="date" formControlName="bagis_tarih" matInput>
      </mat-form-field>
    </td>
    <mat-form-field appearance="fill">
      <mat-label>Bağış Tipi</mat-label>
      <mat-select style="margin-left:1rem" formControlName="bagis_tipi">
        <mat-option value="Zekat">Zekat</mat-option>
        <mat-option value="Sadaka">Sadaka</mat-option>
        <mat-option value="Normal">Normal </mat-option>
        <mat-option value="Fitre">Fitre</mat-option>
      </mat-select>
    </mat-form-field>
    
    </tr>
  </table>
  
    
  <div class="button">
    
    <button mat-raised-button color="warn" (click)="updateBagis()" [matDialogClose]="true">Update </button>
    </div>
  </form>
  
  